# EXTRACTION

In [2]:
import pandas as pd
emp = pd.read_csv("employee_data.csv")   #NB: make sure you install pandas first on your jupyter notebook before importing

# ANALYSIS

In [5]:
print(len(emp)) #How many records are there in the employee.csv dataset

600

In [6]:
print(emp['Salary'].max()) #fetching the highest salary among the employee records

149794

In [6]:
print(emp.pivot_table(index='Department',values='Salary',aggfunc='max').reset_index()) #Which department has the highest average salary

    Department  Salary
0  Engineering  149794
1      Finance  148631
2           HR  148672
3    Marketing  149142
4        Sales  149263

In [7]:
print(emp['Salary'].sum()) #What is the total salary expenditure for the company

58542435

In [7]:
print(emp['Department'].value_counts(ascending=True)) # How many employees are in each department ?

Engineering    105
Marketing      116
Sales          118
HR             122
Finance        139
Name: Department, dtype: int64

# **TRANSFORMATION**

In [9]:
Bonus=emp['Employee_bonus'] = emp['Salary']*0.1 #adding a new column name 'Employe_bonus' to get bonus from each employees in the dataset
print(Bonus)

0      10826.8
1       8356.7
2       8261.3
3       8589.1
4       6124.3
        ...
595     7729.2
596    13913.1
597    11557.7
598     9598.6
599     5041.3
Name: Salary, Length: 600, dtype: float64

In [23]:
Total = emp['Total_compensation']=emp['Salary'] + emp['Employee_bonus']  #adding a new column name 'Total_compensation' to get the totally of each employees in the dataset
print(Total)

0      119094.8
1       91923.7
2       90874.3
3       94480.1
4       67367.3
         ...
595     85021.2
596    153044.1
597    127134.7
598    105584.6
599     55454.3
Length: 600, dtype: float64

In [24]:
emp.to_csv("New_Employees_data") #converting/saving the transformation from the record employees dataset to a new csv file named 'New_Employees_data'